﻿$bg_body: url(../../images/main-bg.jpg) ;
$bg_menu: url(../../images/menu-bg.png) ;
$bg_mbutton: url(../../images/simple_button.png) ;

@mixin fade($what) {
    transition: $what .25s ease-in-out;
    -moz-transition: $what .25s ease-in-out;
    -webkit-transition: $what .25s ease-in-out;
}

body {
  margin: 0;
  padding: 0;
  background: #fff $bg_body repeat;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 200;
  color: #000000;
}

img {
  border: none;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
  font-weight: 300;
  color: #221D1D;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 2.4em;
}

h3 {
  font-size: 1.6em;
}

p, ul, ol {
  margin-top: 0;
  line-height: 180%;
}

ul!, ol! {}

a {
  text-decoration: none;
  color: #091478;
  &:hover {
  }
}

#wrapper {
  padding: 0;
}

/* Login */

#login {
  width: 850px;
  height: 20px;
  margin: 5px auto 0px auto;
  text-align: right;
  font-size: .75em;
  color: #AAA;
  a {
  color: #AAA;
    &:hover {
      color: #888;
      border-bottom: 1px solid #888;
    }
  }
}

/* Header */

#header {
  width: 850px;
  height: 70px;
  margin: 30px auto 10px auto;
}

/* Logo */

#logo {
  width: 500px;
  height: 70px;
  float: left;
  margin: 0px auto 0px auto;
  a {
    background: none;
    @include fade(background);
    &:hover {
      background: #D5C153;
    }
  }
}

/* Top-right info */

#head_info {
  float: right;
  width:340px;
  height:70px;
  overflow: hidden;
  text-align: right;
  font-size: .75em;
  a {
    font-weight: bold;
    border-bottom: 0px;
    @include fade(border-bottom);
    &:hover {
      text-decoration: none;
      border-bottom: 2px #D5C153 solid;
    }
  }
}


/* Menu */

#menu {
  overflow: hidden;
  width: 1000px;
  padding: 0px 0px;
  margin: 0px auto 30px auto;
  background: $bg_menu #2F0080 no-repeat center top;
  border-radius: 20px 0px 20px 0px;
  font-size: 20px;
  color: #000000;
  ul {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px;
    list-style: none;
    line-height: normal;
    text-align: center;
  }
  li {
    display: inline-block;
    background: #2F0080;
  }
  a {
    display: block;
    padding: 15px 40px 15px 40px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    font-weight: 200;
    color: #FFFFFF;
    border: none;
    @include fade(background);
    &:hover {
      text-decoration: none;
      background: #D5C153;
    }
  }
  .current_page_item a {
    text-decoration: none;
    background: #4E3F73;
    color: #FFFFFF;
  }
  .last {
    border-right: none;
  }
}

#three-columns {
  overflow: hidden;
  width: 1000px;
  margin: 0px auto;
  padding: 30px 0px;
  border-bottom: 1px solid #D4D4D4;
  color: #000000;
  h2 {
    padding: 0px 0px 20px 0px;
    font-size: 30px;
    color: #000000;
  }
  #column1 {
    float: left;
    width: 350px;
    margin-right: 40px;
    text-align: center;
  }
  #column2 {
    float: left;
    width: 550px;
    text-align: center;
  }
}

a#modulebutton, a#modulebutton:visited {  
    display:block;  
    margin-left: auto;
    margin-right: auto;
    background: $bg_mbutton repeat-x;  
    width: 200px;  
    padding:10px 0;  
    text-align:center;  
    border:1px solid #608925;  
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.8);  
    font-weight:bold;  
    border-radius: 5px;  
    -moz-border-radius: 5px;  
    -webkit-border-radius: 5px;  
    color:#FFF;  
    text-decoration: none;  
    opacity:.85;  
  &:hover {  
    border-color:#49671d;  
  }  
  &:active {  
    background-position:  0 -200px;  
    padding:11px 0 9px;  
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);  
  }
}

.tooltip{
    display: inline;
    position: relative;
    &:hover:after{
    background: #333;
    background: rgba(0,0,0,.6);
    border-radius: 5px;
    bottom: 56px;
    left: 60%;
    color: #fff;
    font-family: Arial;
    font-size: 12px;
    content: attr(title);
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 220px;
    }
    &:hover:before{
    border: solid;
    border-color: #555 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 50px;
    left: 90%;
    content: "";
    position: absolute;
    z-index: 99;
  }
}

/* Footer */

#footer {
  overflow: hidden;
  width: 1000px;
  height: 200px;
  margin: 0 auto;
  padding: 40px 0px 15px 0px;
  border-top: 2px solid #D4D4D4;
  background: #DDD;
  p {
    margin: 0;
    padding-top: 20px;
    line-height: normal;
    color: #444;
    font-size: .8em;
  }
  a {
    color: #444;
    border-bottom: 2px #EEE solid;
    &:hover {
      border-bottom: 2px #422840 solid;
    }
  }
}

#footer-left {
  width:500px;
  float: left;
  margin-left: 40px;
  text-align: left;
}

#footer-right {
  float: right;
  margin-right: 40px;
  width: 340px;
  height: 300px;
  overflow: hidden;
  text-align: right;
  img {
    padding:8px;
    border:solid;
    border-color: #dddddd #aaaaaa #aaaaaa #dddddd;
    border-width: 1px 2px 2px 1px;
    background-color:white;
  }
}

